.background1{
    width:100%;
    height:720px;
    background: url("https://lh3.googleusercontent.com/drive-storage/AJQWtBMC-wTE8Jphrp1M_5zH0_27Gl0Swp4hg29kdvgxF1N6bhPsL0xoeSrGzdZzZyUL5LXBV4xJKRiJd9joQUsNjVd-_-V20K8jfr55GEPemQ=w1349-h641");
    background-size:cover;
    background-attachment:fixed;
    border:2px solid red;

}
.headding1{
    color:white;
    margin-left:500px;
    margin-top:350px;
}
.background2{
    width:100%;
    height:720px;
    background:url("https://lh3.googleusercontent.com/drive-storage/AJQWtBMC-wTE8Jphrp1M_5zH0_27Gl0Swp4hg29kdvgxF1N6bhPsL0xoeSrGzdZzZyUL5LXBV4xJKRiJd9joQUsNjVd-_-V20K8jfr55GEPemQ=w1349-h641");
    background-size:cover;
    background-attachment:fixed;
    opacity:0.6;
    border:2px solid red;
}
.headding2{
    color:white;
    margin-left:500px;
    margin-top:350px;
}
.background3{
    background:url("https://lh3.googleusercontent.com/drive-storage/AJQWtBNelK3SV_FgntwWrlomcZF9Qt2m6QNff_o2iu6h-wsh9G-AwMQBKwRDxy0Acb2_53pHbvYFtcojz9L1Op-qGSjQpRe93ZGEk1D2F_mRcg=w1349-h641");
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border:2px solid red;
}
.headding3{
    color:white;
    margin-left:500px;
    margin-top:350px;
}
.background4{
    background:linear-gradient(yellow ,#ff99cc,red);
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    border:2px solid red;
}