*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body {
    background-color:lightseagreen;
    padding:1%;
    font-family:sans-serif;
}
h1{
    text-align: center;
}
header{
    background-color:rgb(2, 133, 2);
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
}
a{
    text-decoration:none;
    color:white;
}
.deer-picture{
    width:120px;
    height:120px;
    object-fit:cover;
}
.text{
    display: flex; 
}
.text1{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
h2{
    margin-left:50px;
    margin-top:40px;
}
ol{
    padding-left:6%;
}
ul{
    padding-left:6%;
}
.latest-paragraph{
    color:white;
    margin-top:110px;
    margin-right:1000px;
}