/*background-color-obyektin rəngini təyin edir*/
/*display -elementin inline və ya block olduğunu göstərir*/
/*width-uzunluğu təyin edir*/
/*height-hündürlüyü təyin edir*/
/*border-width-sərhədin qalınlığını göstərir*/
/*margin-xaricdən məsafəni təmin edir*/
/*padding -daxildən məsafəni təyin edir*/
/*font-weight-yazının qalınlığını və ya seyrəkliyini təmin edir*/
/*font-size-yazınin ölçüsünü təyin edir*/
/*border-color-sərhədin rəngini təyin edir*/
/*object-position-obyektin vəziyyətini(sol,sağ,mərkəz,yuxarı,aşağı)təyin edir*/
/*box-shadow -kölgəni təyin edir*/
/*object-fit-şəklin konteyeri hansı formada doldurduğunu göstərir*/
.green-circule,
.red-square{
    display:inline-block;
}
.red-square{
background-color:red;
width:80px;
height:80px;
margin-right:9px;
}
.green-circule{
background-color:green;
width:84px;
border-radius:42px;
height:84px;
}
.card{
border-width:1px;
border-style:solid;
border-color:rgb(150,150,150);
width:300px;
padding-left:15px;
padding-bottom:20px;
}
.title{
font-size:16px;
color:black;
}
.information{
width:330px;
height:100px;
background-color:black;
}
.information-title{
font-size:18px;
font-weight:bold;
color:white;
padding-left:6px;
padding-top:12px;
}
.information-sentence{
font-size:14px;
color:white;
width:300px;
padding-left:6px;
}
.box{
width:360px; 
box-shadow:5px 5px 10px rgba(0,0,0,0.6);
border-radius:20px;
}
.flower-picture{
width:40px;
height:40px;
border-radius:20px;
object-fit:cover;
object-position:center;
display:inline-block;
vertical-align:bottom;
margin-right:6px;
}
.box-sentence{
font-size:14px;
color:black;
display:inline-block;
margin-right:80px;
}
.tweet-button{
background-color:blue;
color:white;
font-weight:bold;
font-size:14px;
width:80px;
height:26px;
border:none;
border-radius:13px;
}
.my-design{
width:120px;
height:180px;
border-width:1px;
border-style:solid;
box-shadow:5px 5px 10px rgba(0,0,0,0.15);
border-color:rgb(96,96,96);
display:inline-block;
}
.ocean-picture,
.profile-frends,
.video-author{
margin-top:2px;
margin-bottom:2px;
}
.ocean-picture{
height:96px;
width:96px;
object-fit:cover;
margin-left:12px;
}
.video-author{
margin-left:12px;
font-weight:bold;
font-weight:16px;
}
.profile-frends{
margin-left:12px;
font-size:16px;
}
.design-button{
background-color:blue;
color:white;
font-size:14px;
padding-right:16px;
padding-left:16px;
margin-left:26px;
padding-top:4px;
padding-bottom:4px;
border:none;
border-radius:4px;
margin-top:6px;
margin-left:12px;
} 
.favorite-design{
width:120px;
height:180px;
border-width:1px;
border-style:solid;
box-shadow:5px 5px 10px rgba(0,0,0,0.15);
border-color:rgb(96,96,96);
display:inline-block;
vertical-align:bottom;
}
.sky-picture,
.profile-author,
.gülnur-friends,
.profile-button{
margin-top:0;
margin-bottom:0; 
}
.sky-picture{
height:96px;
width:96px;
object-fit:cover;
margin-left:12px;
margin-top:2px;
} 
.profile-author{
margin-left:12px;
font-weight:bold;
font-size:16px; 
margin-top:2px;
}
.gülnur-friends{
margin-left:12px;
font-size:16px;
margin-top:2px;
margin-bottom:10px;
}
.profile-button{
background-color:blue;
color:white;
font-size:14px;
padding-right:16px;
padding-left:16px;
padding-top:4px;
padding-bottom:4px;
border:none;
border-radius:4px;
margin-left:12px;
}
.beautiful-design{
width:120px;
height:180px;
border-width:1px;
border-style:solid;
box-shadow:5px 5px 10px rgba(0,0,0,0.15);
border-color:rgb(96,96,96);
display:inline-block;  
}
.lake-picture,
.fidan-profile,
.fidan-friends,
.profile-button{
margin-top:0;
margin-bottom:0 ; 
}

.lake-picture{
height:96px;
width:96px;
object-fit:cover;
margin-left:12px;
margin-top:2px;  
}
.fidan-profile{
margin-left:12px;
font-weight:bold;
font-size:16px; 
margin-top:2px; 
}
.fidan-friends{
margin-left:12px;
font-size:16px;
margin-top:2px;
margin-bottom:10px;
}
.profile-button{
background-color:blue;
color:white;
font-size:14px;
padding-right:16px;
padding-left:16px;
padding-top:4px;
padding-bottom:4px;
border:none;
border-radius:4px;
margin-left:12px;
} 